[Desktop Entry]
Type=Application
Name=Deezium
Exec=deezium
Path=/usr/share/deezium
Terminal=false
Hidden=false
Icon=/usr/share/deezium/deezium.png
Keywords=deezer;music;streaming
Categories=Audio
Comment=A open source client for the deezer music streaming platform
